.Rectangle,.Ellipse{
 /*   fill:#424141;*/
    fill:#424141;
}
.Line:first-child .line{
    stroke:white;
    stroke-opacity:0.3;
}
.Line:nth-child(2) .line {
    stroke:white;
    stroke-opacity:0.3;
}
.Line:nth-child(3) .line {
    stroke:white;
    stroke-opacity:0.3;
}
.Line:nth-child(4) .line {
    stroke:white;
    stroke-opacity:0.3;
}
.Line:nth-child(5) .line {
    stroke:white;
    stroke-opacity:0.3;
}
.Line:nth-child(6) .line {
    stroke:white;
    stroke-opacity:0.4;
}
.Line:nth-child(7) .line {
    stroke:white;
    stroke-opacity:0.5;
}
.Line:nth-child(8) .line {
    stroke:white;
    stroke-opacity:0.6;
}
.Line:nth-child(9) .line {
    stroke:white;
    stroke-opacity:0.7;
}
.Line:nth-child(10) .line {
    stroke:white;
    stroke-opacity:0.7;
}
.Line:nth-child(11) .line {
    stroke:white;
    stroke-opacity:0.6;
}
.Line:nth-child(12) .line {
    stroke:white;
    stroke-opacity:0.5;
}
.Line:nth-child(13) .line {
    stroke:white;
    stroke-opacity:0.4;
}
.Line:nth-child(14) .line {
    stroke:white;
    stroke-opacity:0.3;
}
.Line:nth-child(15) .line {
    stroke:white;
    stroke-opacity:0.3;
}
.Line:nth-child(16) .line {
    stroke:white;
    stroke-opacity:0.3;
}
.Line:nth-child(17) .line {
    stroke:white;
    stroke-opacity:0.3;
}
.Line:nth-child(18) .line {
    stroke:white;
    stroke-opacity:0.3;
}




/*
stroke line #6F6A6A
*/