@import "vars.css";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: lato, "Helvetica";
}
body {
  margin: 40px;
  color: white;
}

.clock {
  width: 250px;
  height: 300px;
  border-radius: 60px;
  border: 10px solid var(--back);
  background: black;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}