.buttons {
  width: 30px;
  height: 60%;
  position: absolute;
  /* border: 2px solid red; */
  top: 40px;
  right: -33px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.crow {
  /*just position svg*/
  position: absolute;
  cursor: pointer;
  left: 0;
  top: 0;
  z-index: -1;
  fill: none;
}
.crow2 {
  width: 12px;
  height: 60px;
  background: var(--back);
  position: absolute;
  cursor: pointer;
  border-radius: 10px;
  left: 0;
  bottom: 0;

}
.crow2::before{
  content: "";
  position: absolute;
  top: 0;
  right:5px;
  width: 1px;
  height: 60px;
  border-right: 1px solid rgb(54, 53, 53);
}
