  .bottom {
    display:flex;
    height: 10%;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    position: absolute;
    top:0; 
  }
  .bottom .fa-battery-half {
    transform: rotate(-90deg);
    width: 20px;
    height: 10px;
  }
/*  .bottom:before{
    content:"";
    position:absolute;
    top:-5px;
    left:50%;
    transform:translate(-50%);
    width:120px;
    height:20px;
    background:black;
    border-radius: 10px;
    z-index:-300;
  }*/