  .bottom {
    display:flex;
    height: 10%;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    position: absolute;
    top:0; 
  }
  .bottom .fa-battery-half {
    transform: rotate(-90deg);
    width: 20px;
    height: 10px;
  }